<nav id="sidebar" class="navBar" [ngClass]="{'hidden': sideNavService.hideSideNav }">
        <div id="nav-but">
            <button type="button" class="closebtn" (click)="sideNavService.toggleSideNav()"><i class="fas fa-times"></i></button>
        </div>

    <div id="navbar-nav">
        <ul style="list-style-type: none;">
            <li><a class="item" routerLink="/adminHome/crudHoteles">ALOJAMIENTOS</a></li>
            <li><a class="item" routerLink="/adminHome/crudHabitacion">HABITACIONES</a></li>
            <li><a class="item" routerLink="/adminHome/crudReservas">RESERVAS</a></li>
            <li><a class="item" routerLink="/adminHome/crudCiudades">CIUDADES</a></li>
            <li><a class="item" routerLink="/adminHome/crudEstados">ESTADOS</a></li>
            <li><a class="item" routerLink="/adminHome/crudDestinos">DESTINOS</a></li>
            <li><a class="item" routerLink="/adminHome/crudTipoDestino">CATEGORIAS DE DESTINOS</a></li>
        </ul>
    </div>
    
</nav>

