div.box {
    padding: 2vw;
    margin: 2vw 13vw 2vw 13vw;
    background-color:red;
    border-radius: 15px;

    h2 {
        font-size: 2vw;
        display: inline;
        margin: 0vw 1vw 0vw 0vw;
    }

    .images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        img {
            margin: .5vw 0vw .5vw 0vw;
        }
    }
}