<div class="wrapper">
        <img class="im" src="../../assets/11.png">  
        <h1>Alojamientos</h1>
</div>

<div>
    <h3>Filtrar búsqueda:</h3>

    <span>Nombre: </span><input type="text" class="form-control" name="filterPost" placeholder="Buscar..." [(ngModel)]="filterPost"><br>
    
    <span>Estado: </span><input type="text" class="form-control" name="filterPost2" placeholder="Buscar..." [(ngModel)]="filterPost2"><br>
  
</div>

<div class="wrapper">

<div class="box" *ngFor="let hotel of hotels | filterHotelName:filterPost | filterHotelState:filterPost2">

        <a routerLink="/hotels/{{hotel.id}}">
            <span class="badge">{{hotel.name}}</span>
       </a>

        <span *ngFor="let item of hotel.stars">
            <span style="font-size: 1.5vw; color:white;">
                <i class="fas fa-star"></i>
            </span>
        </span> <br><br>
    

    <b>Latitud:</b> {{hotel.latitude}}
    <b>Longitud:</b> {{hotel.length}} <br>
    <b>Dirección:</b> {{hotel.address}} <br>
    <b>Estado:</b> {{hotel.state}} 
    <b>Ciudad:</b> {{hotel.city}} <br>
    <b>Fullday:</b>
                
        <span *ngIf="hotel.fullDay; else noFullDay"> 
            Si
            <b> Precio del Fullday:</b> {{hotel.fullDayPrice}}<b>$</b>
        </span> <br>
                
        <ng-template #noFullDay> 
             No
        </ng-template> <br>

        <div class="images">
                <app-hotel-slider [hotel]=hotel></app-hotel-slider>
    
        </div> <br>

    <b>Servicios: </b> <span *ngFor="let item of hotel.services">{{item}}, </span>

</div>
</div>

