<ng-container *ngIf="estado != null; then content; else noContent"></ng-container>

<ng-template #content>

        <div class="wrapper">
                <app-toolbar></app-toolbar>
                <app-sidebar></app-sidebar>
                <app-lista-estados></app-lista-estados>
                <div *ngIf="estado">
                        <img src="../../assets/{{estado.imagen}}">
                        <h1>{{estado.nombre}}</h1>
                </div>
        
        
                <div class="wrapper2">
                        <h2>{{estado.inicio}}</h2>
        
                </div>
                <div class="wrapper">
                        <div class="grid">
                                <div class="row">
                                        <div class="column">
        
                                                <img src="{{estado.img[0].imgPath}}">
                                        </div>
        
                                        <div class="column">
                                                <img src="{{estado.img[2].imgPath}}">
        
                                        </div>
                                </div>
                        </div>
                </div>
        
                <div class="wrapper2">
                        <h3>Cultura</h3>
                        <h2>{{estado.cultura}}</h2>
                </div>
        
                <div class="wrapper3">
                        <main class="gallery">
                                <img src="{{estado.gastronomia[0].gastronomiaPath}}" alt="Sample photo">
                                <img src="{{estado.gastronomia[1].gastronomiaPath}}" alt="Sample photo">
                                <img src="{{estado.gastronomia[2].gastronomiaPath}}" alt="Sample photo">
                                <img src="{{estado.gastronomia[3].gastronomiaPath}}" alt="Sample photo">
                                <img src="{{estado.gastronomia[4].gastronomiaPath}}" alt="Sample photo">
                                <img src="{{estado.gastronomia[5].gastronomiaPath}}" alt="Sample photo">
                        </main>
        
                </div>
        </div>

</ng-template>

<ng-template #noContent>
        <h1>Loading...</h1>
</ng-template>

