.wrapper{

    width: 100vw;
    height:100vh;
    margin: 0;
    padding:0;
    background-color: white;
    overflow-x: hidden;
    justify-content: center;
    position: relative;
    h2{
        justify-content: center;
        text-align: center;
        position: absolute;
        font-family: "Avenir";
        font-weight: 100;
        font-size: 2vw;
        color:#005688;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
    

    
}
.wrapper2{

    width: 100vw;
    height:60vh;
    margin: 0;
    padding:0;
    background-color: white;
    overflow-x: hidden;
    justify-content: center;
    position: relative;
    h3{
        justify-content: center;
        text-align: center;
        position: absolute;
        font-family: "Kingsmen";
        font-weight: 100;
        font-size: 4vw;
        color:#005688;
        top: 5%;
        left: 50%;
        transform: translate(-50%,-50%);
        
    }
  

    
}


.wrapper img{
    width: 100vw;
    height:115vh;

      
}

.wrapper h1{
    justify-content: center;
    text-align: center;
    position: absolute;
    font-family: "Billy-Ohio";
    font-size: 15vw;
    color:white;
    top: 50vh;
    left: 50%;
    transform: translate(-50%,-50%);

}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
   
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 2.8vh;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }

  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .grid{

    width: 100vw;
    height:50vw;
    margin: 0;
    padding:0;
    background-color: white;
    overflow: hidden;
    justify-content: center;
    position: relative;
}


  
.gallery { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 1vw;
    margin: 50px;
    
    }
  .gallery img {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    max-width: 100%;
    height: 50vh;
  }

  .wrapper3{

    width: 100vw;
    height:120vh;
    margin: 0;
    padding:0;
    background-color: white;
    overflow-x: hidden;
    justify-content: center;
    position: relative;
    

    
}