.wrapper{
    height: 100vh;
    width:100vw;
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (min-width: 991px) {
  div#c1{
    h1 {
      font-size: 30px;
    }
    
    h2 {
      font-size: 18px;
      margin-left: 25%;
      margin-right: 25%;
    }
  }
}
@media screen and (max-width: 990px) {
  div#c1{
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 14px;
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}
#c1{
  background-color: white; 
  height: auto; 
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0%;
  padding: 0%;
}
#c1 h1{
  width: 100vw;
  font-family:"Kingsmen";
  color: #005688;
  text-align: center;
  word-spacing: 1em;
  margin: auto;
}
#c1 h2{
  text-align: center;
  font-family:"Avenir";
  padding: 10px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 30px;
}

.planea-menu{
  display: grid;
  grid-template-areas: none;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
}
.wrap{
  margin: 1.5em;
}
#dato1{
  grid-area: bloque1;
}
#dato2{
  grid-area: bloque2;
}
#dato3{
  grid-area: bloque3;
}
@media screen and (min-width: 1001px) {
  div.planea-menu{
    grid-template-areas:
      'bloque1 bloque2 bloque3';
  }
 
  div.wrap{
    width: 25vw;
  }
}
@media screen and (max-width: 1000px) {
  div.planea-menu{
    grid-template-areas:
      'bloque1'
      'bloque2'
      'bloque3';
  }
  div.wrap{
    width: 80vw;
  }
}
#c1 h3{
  font-family:"Avenir";
  padding: 10px;
  color: #005688;
  border-top: 1px solid #c4c6c7;
  border-bottom: 1px solid #c4c6c7;
  font-size: .9rem;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 0;
}
#c1 p{
  font-size: 0.8rem;
  font-family:"Avenir";
  color: #000000;
  margin-bottom: 0%;
}
.dato{
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c4c6c7;
  height: 80px;
}
.label{
  display: grid;
  grid-template-columns: 0.9fr 2.1fr;
  align-items: center;
  height: 60px;
  width: 12rem;
  letter-spacing: 1px;
  font-size: 0.65rem;
}
.info-boton{
  font-family:"Avenir";
  font-size: 0.8rem;
  color: #fff;
  border-radius: 10px;
  height: 60px;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#but1{
  background-color: #01798a;
  border: 1px solid #01798a;
}
#but2{
  background-color: #c8a501;
  border: 1px solid #c8a501;
}
#but3{
  background-color: #02b5da;
  border: 1px solid #02b5da;
}

#c2 img{
  width: 100%;
  height:100%;
}

#c3{
  background-color: white; 
  height: auto; 
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 991px) {
  #c3{
    h1 {
      font-size: 30px;
    }
    h2 {
      font-size: 18px;
    }
}
@media screen and (max-width: 990px) {
  #c3{
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 14px;
    }
  }
}
.griddoble{
  display: grid;
  grid-template-areas: none;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
}
.bloque{
  margin: 1.5em;
}
#quienes{
  padding: 1rem;
  align-self: center;
  grid-area: bloq1;
}
#datos{
  align-self: center;
  grid-area: bloq2;
}
#c3 h1{
  font-family:"Kingsmen";
  color: #005688;
  text-align: left;
  word-spacing: 0.5em;
}
#c3 h2{
  font-family:"Avenir";
  color: #000000;
  text-align: left;
  line-height: 30px;
  margin-top: 30px;
}
#c3 h3{
  font-family:"Avenir";
  color: #000000;
  text-align: left;
  font-size: 0.6rem;
}
.dot {
  height: 8vh;
  width: 8vh;
  background-color: #02b5da;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family:"Avenir";
}
@media screen and (min-width: 1001px) {
  div.griddoble{
    grid-template-areas:
      'bloq1 bloq2';
  }
}
@media screen and (max-width: 1000px) {
  div.griddoble{
    grid-template-areas:
      'bloq1'
      'bloq2';
  }
}

#c4 img{
  width: 100%;
  height:100%;
}

}