<div class="wrapper" id="c1">
                <h1>PLANEA TU VIAJE</h1>
                <img src="../../assets/1.png">  
                <h2>Con Guacamaya Tours planea tu viaje en tan solo tres pasos.</h2>
                <div class="menu">
                        <a class="log" >
                            <i class="fas fa-map-marked-alt" style="color: #666666;;" ></i>
                            <h3>Escoge tu destino</h3>
                        </a>
                        <a class="log" ><i class="fas fa-hotel" style="color: #666666;;" ></i><h3>Selecciona un Alojamiento</h3></a>
                        <a class="log" ><i class="fas fa-map-pin" style="color: #666666;;" ></i><h3>Explora las Actividades</h3></a>
                </div>   
        
        </div>
        <div class="wrapper" id="c2">
            
          <img src="../../assets/2.png">
        </div>
        <div class="wrapper" id="c4">
                <div class="gridhome">
                        <div></div>
                        <div id="yespad">
                                <h5>TU VIAJE IDEAL</h5>
                                <h5>A UN CLICK DE DISTANCIA</h5>
                                <h2>Este es el lugar donde puedes planear tu viaje, ver hospedajes, revisar actividades y aprender sobre destinos. Volveras a casa con historias que todos querran oir</h2>
                        </div>
                        <div id="nopad">
                                <h4>DATOS RAPIDOS</h4>
                                <div class="datosrap">
                                        <div>
                                                <div class="partedato">
                                                        <img src="../../../assets/8.png" alt="24" width="60" height="60">
                                                </div>
                                                <div class="partedato">ESTADOS</div>
                                                <div class="partedato"></div>
                                        </div>
                                        <div>
                                                <div class="partedato">
                                                        <img src="../../../assets/9.png" alt="24" width="60" height="60">
                                                </div>
                                                <div class="partedato">DESTINOS</div>
                                                <div class="partedato"></div>
                                        </div>
                                        <div>
                                                <div class="partedato">
                                                        <img src="../../../assets/10.2.png" alt="24" width="60" height="60">
                                                </div>
                                                <div class="partedato">HOTELES</div>
                                                <div class="partedato"></div>
                                        </div>
                                </div>
                        </div>
                        <div></div>
                </div>
        </div>
        <div class="wrapper" id="c3">
              <img src="../../assets/3.png">
            </div>