<div id="c1">
        <img src="../../assets/1.png" style="width: 100vw;">  
        <h1>BUSCA   VIAJA   CONOCE</h1>
        <h2>Guacamaya Tours es la mejor opción para conocer más sobre Venezuela. Actividades, destinos, paisajes y gastronomía son sólo algunas cosas presentadas para poder planear las vacaciones ideales. Con tres simples pasos es posible completar el camino hacia un próximo viaje.</h2>
        <div class="planea-menu">
                <div class="wrap" id="dato1">
                        <h3>ESCOGE TU DESTINO</h3>
                        <div class="dato">
                                <div class="label">
                                        <i class="far fa-snowflake" style="color: #666666; font-size: 40px;"></i>
                                        <p>DIVERSOS CLIMAS</p>
                                </div>
                                <div class="info-boton" id="but1">2ºC - 31ºC</div> 
                        </div>
                        <div class="dato">
                                <div class="label">
                                        <i class="fas fa-map-marked-alt" style="color: #666666; font-size: 40px;"></i>
                                        <p>A LO LARGO DE TODO EL PAÍS</p>
                                </div>
                                <div class="info-boton" id="but1">916.445km²</div>
                        </div>
                        <div class="dato">
                                <div class="label">
                                        <i class="fas fa-mountain" style="color: #666666; font-size: 40px;"></i>
                                        <p>PAISAJES ÚNICOS</p>
                                </div>
                                <div class="info-boton" id="but1">4.978msnm</div>
                        </div>
                </div>
                <div class="wrap" id="dato2">
                        <h3>SELECCIONA UN ALOJAMIENTO</h3>
                        <div class="dato">
                                <div class="label">
                                        <i class="fas fa-hotel" style="color: #666666; font-size: 40px;"></i>
                                        <p>LOS MEJORES HOTELES</p>
                                </div>
                                <div class="info-boton" id="but2">8.247</div>
                        </div>
                        <div class="dato">
                                <div class="label">
                                        <i class="fas fa-home" style="color: #666666; font-size: 40px;"></i>
                                        <p>NUMEROSAS POSADAS</p>
                                </div>
                                <div class="info-boton" id="but2">1.353</div>
                        </div>
                        <div class="dato">
                                <div class="label">
                                        <i class="fas fa-swimming-pool" style="color: #666666; font-size: 40px;"></i>
                                        <p>LUJOSOS RESORTS</p></div>
                                <div class="info-boton" id="but2">3.426</div>
                        </div>
                </div>
                <div class="wrap" id="dato3">
                        <h3>RESERVA Y PAGA</h3>
                        <div class="dato">
                                <div class="label">
                                        <i class="fas fa-hiking" style="color: #666666; font-size: 40px;"></i>
                                        <p>ESCOGE ACTIVIDADES</p></div>
                                <div class="info-boton" id="but3">FAMILIARES</div>
                        </div>
                        <div class="dato">
                                <div class="label">
                                        <i class="far fa-calendar-alt" style="color: #666666; font-size: 40px;"></i>
                                        <p>RESERVA FECHAS</p></div>
                                <div class="info-boton" id="but3">VIRTUAL</div>
                        </div>
                        <div class="dato">
                                <div class="label">
                                        <i class="far fa-credit-card" style="color: #666666; font-size: 40px;"></i>
                                        <p>PAGA TU ESTADÍA</p></div>
                                <div class="info-boton" id="but3">PAY PAL</div>
                        </div>
                </div>
        </div>
</div> 

<div id="c2">
        <img src="../../assets/2.png">
</div>

<div id="c3">
        <div class="griddoble">
                <div class="bloque" id="quienes">
                        <h4>GUACAMAYA TOURS</h4>
                        <h4>QUIENES SOMOS</h4>
                        <h5>Organización que surge como parte de un plan de fidelización de clientes que requiere el desarrollo de una aplicación web que le permita a sus usuarios construir su itinerario recreacional, seleccionando los hoteles de su preferencia en función de destinos turísticos a nivel nacional.</h5>
                </div>
                <div class="bloque" id="datos">
                        <h6>DATOS RÁPIDOS</h6>
                        <div class="dato">
                                <div class="label">
                                        <div class="dot">3</div>
                                        <p style="margin-left: 1rem">DESARROLLADORES</p>
                                </div>
                                <i class="fas fa-users" style="color: #666666; font-size: 3vw; float:inline-end; margin-left: auto;"></i>
                        </div>
                        <div class="dato">
                                <div class="label">
                                        <div class="dot">1</div>
                                        <p style="margin-left: 1rem">EMPRESA</p>
                                </div>
                                <i class="far fa-building" style="color: #666666; font-size: 3vw; float:inline-end; margin-left: auto;"></i>
                        </div>
                        <div class="dato">
                                <div class="label">
                                        <div class="dot">500+</div>
                                        <p style="margin-left: 1rem">RESERVACIONES</p>
                                </div>
                                <i class="far fa-calendar-check" style="color: #666666; font-size: 3vw; float:inline-end; margin-left: auto;"></i>
                        </div>
                </div>
        </div>
</div>

<div id="c4">
        <img src="../../assets/3.png">
</div>

        


