<div class="wrapper" id="c1">

        <div class="container">
                <img src="../../assets/1.png">  
                <h1>BUSCA   VIAJA   CONOCE</h1>
        </div>
        <h2>Guacamaya Tours es la mejor opción para conocer más sobre Venezuela. Actividades, destinos, paisajes y gastronomía son sólo algunas cosas presentadas para poder planear las vacaciones ideales. Con tres simples pasos es posible completar el camino hacia un próximo viaje</h2>
        <div class="planea-menu">
                <div>
                        <hr>
                        <h3>ESCOGE TU DESTINO</h3>
                        <hr>
                        <div class="dato">
                                <i class="far fa-snowflake" style="color: #666666; font-size: 3vw;"></i>
                                <p>DIVERSOS CLIMAS</p>
                                <div class="info-boton1">2ºC - 31ºC</div>
                        </div>
                        <hr>
                        <div class="dato">
                                <i class="fas fa-map-marked-alt" style="color: #666666; font-size: 3vw;"></i>
                                <p>A LO LARGO DE TODO EL PAÍS</p>
                                <div class="info-boton1">916.445km²</div>
                        </div>
                        <hr>
                        <div class="dato">
                                <i class="fas fa-mountain" style="color: #666666; font-size: 3vw;"></i>
                                <p>PAISAJES ÚNICOS</p>
                                <div class="info-boton1">4.978msnm</div>
                        </div>
                        <hr>
                </div>
                <div>
                        <hr>
                        <h3>SELECCIONA UN ALOJAMIENTO</h3>
                        <hr>
                        <div class="dato">
                                <i class="fas fa-hotel" style="color: #666666; font-size: 3vw;"></i>
                                <p>LOS MEJORES HOTELES</p>
                                <div class="info-boton2">8.247</div>
                        </div>
                        <hr>
                        <div class="dato">
                                <i class="fas fa-home" style="color: #666666; font-size: 3vw;"></i>
                                <p>NUMEROSAS POSADAS</p>
                                <div class="info-boton2">1.353</div>
                        </div>
                        <hr>
                        <div class="dato">
                                <i class="fas fa-swimming-pool" style="color: #666666; font-size: 3vw;"></i>
                                <p>LUJOSOS RESORTS</p>
                                <div class="info-boton2">3.426</div>
                        </div>
                        <hr>
                </div>
                <div>
                        <hr>
                        <h3>RESERVA Y PAGA</h3>
                        <hr>
                        <div class="dato">
                                <i class="fas fa-hiking" style="color: #666666; font-size: 3vw;"></i>
                                <p>ESCOGE ACTIVIDADES</p>
                                <div class="info-boton3">TODAS EDADES</div>
                        </div>
                        <hr>
                        <div class="dato">
                                <i class="far fa-calendar-alt" style="color: #666666; font-size: 3vw;"></i>
                                <p>RESERVA FECHAS</p>
                                <div class="info-boton3">TODO EL AÑO</div>
                        </div>
                        <hr>
                        <div class="dato">
                                <i class="far fa-credit-card" style="color: #666666; font-size: 3vw;"></i>
                                <p>PAGA TU ESTADÍA</p>
                                <div class="info-boton3">PAY PAL</div>
                        </div>
                        <hr>
                </div>
        </div>

        <div class="wrapper" id="c2">
          <img src="../../assets/2.png">
        </div>

        <div class="wrapper" id="c4">
                <div></div>
                <div>
                        <h1>GUACAMAYA TOURS: QUIENES SOMOS</h1>
                </div>
                        
                        <!-- <h2>Organización que surge como parte de un plan de 
                                fidelización de clientes que requiere el 
                                desarrollo de una aplicación web que le 
                                permita a sus usuarios construir su itinerario 
                                recreacional, seleccionando los hoteles de su 
                                preferencia en función de destinos turísticos a 
                                nivel nacional.</h2> -->
                
                <div></div>
                <div></div>
                <!-- <div class="gridhome">
                        <div></div>
                        <div id="yespad">
                                <h5>TU VIAJE IDEAL</h5>
                                <h5>A UN CLICK DE DISTANCIA</h5>
                                <h2>Este es el lugar donde puedes planear tu viaje, ver hospedajes, revisar actividades y aprender sobre destinos. Volveras a casa con historias que todos querran oir</h2>
                        </div>
                        <div id="nopad">
                                <h4>DATOS RAPIDOS</h4>
                                <div class="datosrap">
                                        <div>
                                                <div class="partedato">
                                                        <img src="../../../assets/8.png" alt="24" width="60" height="60">
                                                </div>
                                                <div class="partedato">ESTADOS</div>
                                                <div class="partedato"></div>
                                        </div>
                                        <div>
                                                <div class="partedato">
                                                        <img src="../../../assets/9.png" alt="24" width="60" height="60">
                                                </div>
                                                <div class="partedato">DESTINOS</div>
                                                <div class="partedato"></div>
                                        </div>
                                        <div>
                                                <div class="partedato">
                                                        <img src="../../../assets/10.2.png" alt="24" width="60" height="60">
                                                </div>
                                                <div class="partedato">HOTELES</div>
                                                <div class="partedato"></div>
                                        </div>
                                </div>
                        </div>
                        <div></div>
                </div> -->
        </div>
        <div class="wrapper" id="c3">
              <img src="../../assets/3.png">
        </div>