@media screen and (min-width: 768px) {
  .wrapper{
    height: 170px;
  }
  .log{
    font-size: 1rem;
    width: 120px;
    height: 55px;
  }
  #logo2{
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .wrapper{
    height: 115px;
  }
  #menubutton{
    display: none;
  }
  .log {
    font-size: 0.7rem;
    width: 100px;
    height: 50px;
  }
  #logo1{
    display: none;
  }
  .logo img {
    height: 80px;
  }
}

.wrapper {
    margin:0;
    padding: 0;
    width: 100vw;
    font-family: sans-serif;
    overflow:hidden;
    position: fixed;
    z-index: 90;
    display: flex;
    justify-content: space-between;
  }

#headernav{
  background-color: #ffffff;
}
#header .log {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #ffffff;
  cursor:pointer;
  color:#ffffff;
  font-family: "Avenir";
  text-decoration:none;
  margin: 1rem;

  &:hover{
      color:#002e64;
      background: white;
      transition: 0.6s;
  }
}

#headernav .log {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #002e64;
  cursor:pointer;
  color:#002e64;
  font-family: "Avenir";
  text-decoration:none;
  margin: 1rem;

  &:hover{
      color:white;
      background: #ffa600;
      border: #ffa600;
      transition: 0.6s;
  }
}

.logo{
  background-color:transparent;
  cursor:pointer;
  text-decoration: none;
  border: none;
  margin: 1rem;
}