
<div class="wrapper">
        <img src="../../assets/1.png">  
        <h1>Estados</h1>
         <h2>Lista De Estados</h2>

<div class="list">
        <ul class="estados">
            <li *ngFor= "let estado of estados" > 
        <span class="badge">{{estado.nombre}}</span>
        
            </li>
        </ul>
        
        </div>

</div>
<div class="grid">
        <div class="row"> 
                <div class="column">
                <img src="../../assets/3.png"> 
                
                </div>
              
                <div class="column">
                    <div class="row">
                        <div class="column">
                            <img src="../../assets/3.png"> 
                            <img src="../../assets/3.png"> 
                        </div>
                    <div class="column">
                            <img src="../../assets/3.png"> 
                            <img src="../../assets/3.png"> 
                </div>
            </div>
        </div>
                </div>
                
      





</div>
