@media screen and (min-width: 992px){
    .a2 h1{
        font-size: 5rem;
    }
    .a2 .log{
        font-size: 1rem;
        width: 8rem;
        height: 3rem;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .a2 h1{
        font-size: 3rem;
    }
}
@media screen and (max-width: 767px){
    .a2 h1{
        font-size: 2rem;
    }
}

.a1{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
}

.a2{
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.a2 h1{
    font-family:"Billy-Ohio";
    font-family:"Kingsmen";
    color: #005688;
    letter-spacing: 0.5rem;
}
.a2 .log{
    background-color:#002e64;
    border-radius: 5px;
    border:2px solid #002e64;
    cursor:pointer;
    color: white;
    font-family: "Avenir";
    text-decoration:none;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2rem;
    &:hover{
        background: #ffa600;
        border:2px solid #ffa600;
        transition: 0.6s;
    }
}





// .wrapper{
//     margin:0;
//     padding: 0;
//     height: 100vh;
//     width: 100vw;
//     background-color: white;
//     position: relative;
//     overflow: hidden;
   
// }
// .estados{
//     display: grid;
//     width: 100%;
//     height:100%;
//     grid-template-columns: 1fr 4fr 1fr;
//     margin: 0;
//     padding: 0;
//   }

//   .lista{
//     display: grid;
//     width: 100%;
//     height:auto;
//     grid-template-rows: 1fr 20fr 1fr;
//     margin: 0;
//     padding: 0;
//     background-color: white;
//   }


//   .data{
//       width: 100%;
//       height: auto;
//       background-color: white;
//       overflow: auto;

      
//   }
//   .textbox{
//     width:100%;
//     overflow:hidden;
//     font-size: 2vw;
//     padding: 1vw;
//     margin: 1vw 0;
//     font-family: 'Avenir';
//     display: flex;
//     justify-content: center;
//     display: grid;
//     grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
//     border-radius:4px;
//     border:2px solid #002e64;
//     text-transform: uppercase;
  
    
// }

// .textbox .nombre{
//     display: flex;
//     justify-content: center;
//     border-right: 1px solid #005688;
//     align-items: center;


// }

// .textbox .id{
//     display: flex;
//     justify-content: center;
//     border-right: 1px solid #005688;
//    align-items: center;

// }

// .textbox .tools{
//     display: flex;
//     justify-content: center;
//     align-items: center;

// }
// #close{
//     size: 0.1vw;
//     color: #002e64;
//     margin: 0.5vw;
// }


// .textbox h3{
//     display: inline-block;
//     color: #002e64;
//     font-size: 1vw;
//     justify-content: center;
// }
// .textbox1{
//     width:100%;
//     overflow:hidden;
//     font-size: 1vw;
//     letter-spacing: 0.1vw;
//     padding: 1vw 0;
//     margin-top: 1.5;
//     background-color: #002e64;
//     font-family: 'Avenir';
//     display: flex;
//     justify-content: center;
//     display: grid;
//     grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr;
//     color: white;
//     border-radius:4px;
//     border:2px solid #002e64;
    
// }

// .textbox1 .nombre{
//     display: flex;
//     justify-content: center;
//     border-right: 1px solid #005688;


// }

// .textbox1 .id{
//     display: flex;
//     justify-content: center;
//     border-right: 1px solid #005688;

// }

// .textbox1 .tools{
//     display: flex;
//     justify-content: center;
    

// }



// .textbox1 h2{
//     display: inline-block;
//     font-size: 1vw;
//     color: white;
  
// }



// .lista .margen{
//     display: flex;
//     justify-content: center;
//     align-items: flex-end;
//   }

// .margen h1{
// font-family: 'Avenir';
// font-weight: 400;
// font-size:10vw;
// color: #002e64;
// justify-content: center;
// margin-top: 0;
// }

// .textbox #close{
//     cursor: pointer;

//     &:hover{
//         color: #ffa600;

//     }
// }