#wrapper {
  width: 100vw;
  height:100vh;
  background-color: transparent;
  position: fixed;
  z-index: 6000;
}

#list {
  text-align: center;
  font-family: "Avenir";
  border-radius:4px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
  background-color: rgba($color: white, $alpha: 0.9);
  border: solid 2px white;
  display: grid;
  grid-template-rows: 1fr 6fr;
  text-transform: uppercase;
  font-weight: 100;
}

#wrapper.hidden {
  display:none;
  transition: 0.6s;
}

a[data-toggle="collapse"] {
  position: relative;
}

#list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  font-family: "Avenir";
  font-weight: 100;
  
}

#list li {
  display: inline; 
  text-align:center; 
  cursor: pointer; 
  font-family: "Avenir";
  font-weight: 100;
} 

#list li a{
  color:#005688;
  text-align: left;
  text-decoration: none;
  font-family: "Avenir";
  letter-spacing: 0.1em;
  font-weight: 100;
  &:hover{
  color:#ffa600;
  }
}

.close{
   color:#005688;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 0.5vw;
   margin-top: 0.5vw;
   border:none;
   outline:none;
   background:none;
   float: right;
   cursor: pointer;
   float: right;
   &:hover{
       color:#ffa600;
   }
}

@media screen and (min-width: 992px){
  #list{
    font-size: 13px;
    width: 35%; 
    height: auto;
    align-items: center;
  }
  #list li {
    padding:5px; 
    margin:1px;
  }
  .close{
    font-size: 2rem;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px){
  #list{
    font-size: 10px;
    width: 35%; 
    height: auto;
    align-items: center;
  }
  #list li {
    padding:5px; 
    margin:1px;
  }
  .close{
    font-size: 10px;
    margin-right: 1rem;
  }
}
@media screen and (max-width: 767px){
  #list{
    font-size: 10px;
    width: 100vw;
    height: 100vh;
    padding: 10%;
    align-items: center;
  }
  #list li {
    padding:5px; 
    margin:1px;
  }
  .close{
    font-size: 10px;
    margin-right: 1rem;
  }
}