
<ng-container *ngIf="estados.length > 0; then noLoading; else lLoading"></ng-container>

<ng-template #loading>
    <app-spinner></app-spinner>
</ng-template>

<ng-template #noLoading>

    <div id="wrapper" [ngClass]="{'hidden': listaEstadosService.hideLista }">
        <div id="list">
            <div id="bton"> 
                <button type="button" class="close"><i class="fas fa-times"></i></button> 
            </div>
            <div id="lista">
                <ul style="list-style-type: none;">
                    <li class="item"  *ngFor="let estado of estados">
                        <a routerLink="/detail/{{estado.id}}">
                            <span class="badge">{{estado.nombre}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</ng-template>