<ng-container *ngIf="estados.length > 0; then noLoading; else loading"></ng-container>

<ng-template #loading>
    <h1>Loading...</h1>
</ng-template>

<ng-template #noLoading>


    <div id="wrapper" [ngClass]="{'hidden': listaEstadosService.hideLista }">



        <div id="list">
            <div class="bton"> <button type="button" class="close" (click)="listaEstadosService.toggleLista()"><i
                        class="fas fa-times"></i></button></div>
            <div class="lista">
                <ul class="estados">
                    <li *ngFor="let estado of estados">
                        <a routerLink="/detail/{{estado.id}}">

                            <span class="badge">{{estado.nombre}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</ng-template>