
.menu {
   
    margin:0;
    padding: 0;
    height: 10vh;
    width: 100vw;
  
    overflow:hidden;
    position: absolute;
    z-index: 100;
    top:90%;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.5);

  }

.menu .log {
    
 background-color:transparent;
display:inline-block;
cursor:pointer;
        font-family: "Avenir";
        font-weight: 900;
        font-size:2vh;
        padding:4vh 6vw;
        text-decoration:none;
  
       border-left: 1px solid #666666;
       border-right: 1px solid #666666;
       transition: 0.1s;
        

        &:hover{
            color:#ffa600;
            transition: 0.1s;
            font-size: 2.5vh;
        }
}


