
 <div class="menu">
       <div routerLink="/hotels" routerLinkActive="router-link-active" class="item">
              <div id="logo">
                     <i class="fas fa-bed" id="logo"></i>
              </div>
              <a id="text">ALOJAMIENTOS</a>
       </div>
       <div class="item">
              <div id="logo">
                     <i class="fas fa-plane" id="logo"></i>
              </div>
              <a id="text">PLANEA TU VIAJE</a>
       </div>
       <div class="item">
              <div id="logo">
                     <i class="fas fa-map-pin" id="logo"></i>
              </div>
              <a id="text">A DÓNDE IR</a>
       </div>
       <div class="item">
              <div id="logo">
                     <i class="fas fa-trophy" id="logo"></i>
              </div>
              <a id="text">LO MÁS VISITADO</a>
       </div>
</div>