<ng-container *ngIf="ciudad != null; then content; else noContent"></ng-container>

<ng-template #content>
<div class="wrapper">
    <!-- <div class="close">
        <i (click)="agregarService.toggleAgregar()" style="color: #002e64; " class="fas fa-times-circle"></i>
    </div> -->
    <!-- (ngSubmit)="addPost()" -->
    <form [formGroup]="ciudadForm" class="agregar-box" >
        <h1>MODIFICAR CIUDAD</h1>
        <small>NOMBRE</small>
        <div class="textbox">
            <i id="input"  class="fas fa-user-circle"></i>
            <input type="text" formControlName="nombre"></div>
        <small>IMAGEN</small>
        <div class="textbox">
            <i id="input" class="fas fa-plus-circle"></i>
            <input type="text" formControlName="imagen"></div>
        <small>ESTADO</small>
        <div class="textbox">
            <select formControlName="estadoId" placeholder="Ingresa el Id del Estado">
                <option value="{{estado.id}}" *ngFor="let estado of estados">{{estado.nombre}}</option>

            </select>
        </div>
        <input type="submit" class="btn" value="AGREGAR" [disabled]="!ciudadForm.valid" id="boton">

    </form>
</div>
</ng-template>

<ng-template #noContent>
    <h1>Loading...</h1>
</ng-template>