<div class="wrapper" [ngClass]="{'hidden': agregarService.hideAgregar}">
        <div class="close">
            <i (click)="agregarService.toggleAgregar()" style="color: #002e64; " class="fas fa-times-circle"></i>
        </div>
        <form [formGroup]="habForm" class="agregar-box">
            <h1>AGREGAR HABITACION</h1>
            <small>NOMBRE</small>
            <div class="textbox">
                <i id="input" class="fas fa-user-circle"></i>
                <input type="text" formControlName="nombre">
            </div>
            <small>IMAGEN</small>
            <div class="textbox">
                <i id="input" class="fas fa-user-circle"></i>
                <input type="text" formControlName="imagen">
            </div>
            <small>COSTO POR NOCHE</small>
            <div class="textbox">
                <i id="input" class="fas fa-star-circle"></i>
                <input type="number" formControlName="nightCost" min="1">
            </div>
            <small>NUMERO DE HABITACIONES DISPONIBLES</small>
            <div class="textbox">
                <i id="input" class="fas fa-star-circle"></i>
                <input type="number" formControlName="numHab" min="1">
            </div>
            <small>TIPO DE VISTA</small>
            <div class="textbox">
                <i id="input" class="fas fa-compass"></i>
                <input type="text" formControlName="tipoVista">
            </div>
            <small>NUMERO MAXIMO DE PERSONAS</small>
            <div class="textbox">
                <i id="input" class="fas fa-star-circle"></i>
                <input type="number" formControlName="maxPersonas" min="1">
            </div>
                <small>HOTEL</small>
                <div class="textbox">
                    <select formControlName="hotel" >
                        <option *ngFor="let hotel of hoteles" value="{{hotel.id}}">{{hotel.name}}</option>
                    </select>
                </div>
            <small>IMAGENES</small>
            <div class="textbox">
                <section formArrayName="habPictures">
                    <div *ngFor="let habPicture of habPicturesArray.controls; let i=index" [formGroupName]="i">
                        <small class="imgTitle">IMAGEN {{i + 1}}</small>
                        <div class="input-group">
                            <input type="text" formControlName="path">
                        </div>
                        <button type="button" id="add" (click)="removeHabPicture(i)"><i
                                class="fas fa-times-circle"></i></button>
    
    
                    </div>
                    <button type="button" id="add" (click)="addHabPicture()"><i class="fas fa-plus-circle"></i></button>
                </section>
            </div>
            <small>COMODIDADES</small>
            <div class="textbox">
                <section formArrayName="comodidades">
                    <div *ngFor="let comodidad of comodidadesArray.controls; let i=index" [formGroupName]="i">
                        <small class="imgTitle">COMODIDAD {{i + 1}}</small>
                        <div class="input-group">
                            <input type="text" formControlName="path">
                        </div>
                        <button type="button" id="add" (click)="removeComodidades(i)"><i
                                class="fas fa-times-circle"></i></button>
    
    
                    </div>
                    <button type="button" id="add" (click)="addComodidades()"><i class="fas fa-plus-circle"></i></button>
                </section>
            </div>
            <button type="submit" class="btn" value="AGREGAR" (click)="addPost()" id="boton" [disabled]="!habForm.valid"(click)="agregarService.toggleAgregar()" >AGREGAR HABITACION</button>
        </form>
</div>
