
<nav id="sidebar" class="navBar" [ngClass]="{'hidden': sideNavService.hideSideNav }">
        <a href="javascript:void(0)" class="closebtn" (click)="sideNavService.toggleSideNav()">&times;</a>
        <ul class="navbar-nav">
            <li class="nav-item active"><a class="nav-link" routerLink="/hotels" routerLinkActive="router-link-active"  href="#">ALOJAMIENTOS</a>
            </li>
            <li class="nav-item"><a class="item" class="nav-link" href="#">QUÉ HACER</a></li>
            <li class="nav-item"><a class="item" class="nav-link" href="#">A DÓNDE</a>
                <ul>
                        <li  ><button class="item" type="button" (click)="listaEstadosService.toggleLista()">ESTADOS</button>

                            <!-- <li><button class="item" type="button" (click)="listaEstadosService.toggleLista()"></button></li> -->

                        <li ><a href="#" class="nav-item" class="item" class="nav-link" >DESTINOS</a>
                            <ul>
                                <li *ngFor="let tipoDestino of tipoDestinos"><a class="item" routerLink="/tipoDestino/{{tipoDestino.id}}" href="#"  style="text-transform: uppercase; font-size: 1vw;">{{tipoDestino.nombre}}</a></li>
                                    
                            </ul>
                </ul>
                
              
            </li>

            <li class="nav-item"><a class="item" class="nav-link" href="#">LO MÁS VISITADO</a></li>
            <li class="nav-item"><a class="item" class="nav-link" href="#">CONTÁCTANOS</a></li>

        </ul>

</nav> 
