@media screen and (min-width: 992px){
  #sidebar{
    width: 35%;
    padding: 70px;
  }
  #sidebar.hidden{
    transform: translateX(35vw);
  }
  .item{
    font-size: 13px;
    letter-spacing: 0.2rem;
    line-height: 60px;
    width: 300px;
  }
}
@media screen and (max-width: 991px){
  #sidebar{
    width: 35%;
    padding: 60px;
  }
  #sidebar.hidden{
    transform: translateX(35vw);
  }
  .item{
    font-size: 10px;
    letter-spacing: 0.1rem;
    line-height: 50px;
    width: 250px;
  }
}

#sidebar{
  height: 100%;
  float: right;
  background: white;
  transition: 0.9s;
  z-index: 3500;
  position: fixed;
  top:0;
  right:0;
  transform: translateX(0) ;
  overflow: hidden;  
  display: grid;
  grid-template-rows: 5% 95%;
  grid-template-columns: auto;
}
#sidebar.hidden{
  transition: 0.6s;
  position: fixed;
  overflow: hidden;
}
a[data-toggle="collapse"] {
  position: relative;
}

#nav-but{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.closebtn {
  font-size: 30px;
  color: #002e64;
  border: none;
  background-color: transparent;
  transition: 0.2s ease-in-out !important;
  &:hover{
    transform: scale(1.2);
  }
}

#navbar-nav{
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
.item{
  display: flex;
  justify-content: left;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: 0.6s all;
  font-family: 'Avenir';
  border: none;
  border-bottom: 1px solid lightgray;

  transition: 0.2s ease-in-out;
  &:hover{
    color: #002e64;
  }
}

#list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover{
    #arrow{
      transition: 0.5s ease-in-out;
      transform: rotate(180deg);
    }
  };
}


#dest {
  margin-left: 2rem;
}
#arrow{
  transform: rotate(90deg); 
  font-size: 20px;
}


// #tg-menu{
//   transition: 0.2s ease-in-out !important;
//   &:hover{
//     #lista-destinos{
//       display: block !important;
//     };
//   }
// }

//   #sidebar ul{
//       margin:0;
//       padding: 0;

//   }

//   #sidebar ul li{
//       list-style: none;
      
//   }

//   #sidebar ul li a{
//       text-decoration: none;
//       color: black;
//       height:30%;
//       width:100%;
//       font-size: 1vw;
//       line-height: 60px;
//       text-align: left;
//       display: block;
//       transition: 0.6s all;
//       padding-top: 3%;
//       padding-left: 10%;
//       border-bottom: 1px solid #666666;
//       margin-left: 30px;
//       font-family: 'Avenir';
 
//   }

//   #sidebar .item{
//     text-decoration: none;
//       color: black;
//       height:30%;
//       width:100%;
//       font-size: 1vw;
//       line-height: 60px;
//       text-align: left;
//       display: block;
//       transition: 0.6s all;
//       padding-top: 3%;
//       padding-left: 10%;
//       border-bottom: 1px solid #666666;
//       border-top: none;
//       border-left: none;
//       border-right: none;
//       margin-left: 30px;
//       background: none;
//       font-family: 'Avenir';
//       outline: none;

//       &:hover{
//         color:#002e64;
//       }
 

//   }

//   #sidebar ul li a:hover{
//      color:#002e64;

//   }

//   #sidebar li ul{
//       display: none;
//       border-bottom: none;
//   }
//   #sidebar li:hover ul{
//    display: block;
   
// }
//   #sidebar li:hover ul li{
//       background: white;
//       transition: 0.6s;
//       border-bottom: none;
//   }

//   #sidebar li:hover ul li a{
//     color: black;
//     transition: 0.6s;
//     margin-left: 60px;
//     &:hover{
//         color:#ffa600;
//     }
//   }

//   #sidebar li li ul{
//     display: none;
//     border-bottom: none;
// }
// #sidebar li li:hover ul{
//  display: block;
 
// }
// #sidebar li li:hover ul li{
//     background: white;
//     transition: 0.6s;
//     border-bottom: none;
// }

// #sidebar li li:hover ul li a{
//   color: black;
//   transition: 0.6s;
//   margin-left: 80px;
//   &:hover{
//       color:#ffa600;
//   }
// }

// #sidebar li li li ul{
//   display: none;
//   border-bottom: none;
// }
// #sidebar li li li:hover ul{
// display: block;

// }
// #sidebar li li li:hover ul li{
//   background: white;
//   transition: 0.6s;
//   border-bottom: none;
// }

// #sidebar li li li:hover ul li a{
// color: black;
// transition: 0.6s;
// margin-left: 150px;
// &:hover{
//     color:#ffa600;
// }
// }



