
<nav id="sidebar" class="navBar" [ngClass]="{'hidden': sideNavService.hideSideNav }">
    <div id="nav-but">
        <button type="button" class="closebtn" (click)="sideNavService.toggleSideNav()"><i class="fas fa-times"></i></button>
    </div>
    <div id="navbar-nav">
        <ul style="list-style-type: none;">
            <li><a class="item" routerLink="/hotels" routerLinkActive="router-link-active"  href="#" (click)="sideNavService.toggleSideNav()">ALOJAMIENTOS</a></li>
            <li><a class="item" href="#" (click)="sideNavService.toggleSideNav()">PLANEA TU VIAJE</a></li>
            <li><a class="item" href="#" (click)="sideNavService.toggleSideNav()">A DÓNDE IR</a></li>
            <li><button class="item" type="button" (click)="sideNavService.toggleSideNav()" (click)="listaEstadosService.toggleLista()">ESTADOS</button></li>

            <li><a href="#" class="item" id="list">DESTINOS <i class="fas fa-sort-up" id="arrow" (click)="rotateArrow()"></i></a>
                <ul style="list-style-type: none;">
                    <li *ngFor="let tipoDestino of tipoDestinos"><a class="item" id="dest" routerLink="/tipoDestino/{{tipoDestino.id}}" href="#"  (click)="sideNavService.toggleSideNav()" style="text-transform: uppercase;">{{tipoDestino.nombre}}</a></li>   
                </ul>
            </li>

            <li><a class="item" href="#" (click)="sideNavService.toggleSideNav()">LO MÁS VISITADO</a></li>
            <li><a class="item" href="#" (click)="sideNavService.toggleSideNav()">CONTÁCTANOS</a></li>
        </ul>
    </div>
</nav> 
