<div class="cajota">
  <div class="caja">
  
        <div *ngIf="!paidFor" class="contenedor">
        
          <div class="texto">
            <p>Solo falta pagar y listo! --- Total: ${{ product.price }}</p>
          </div>
        
          <div class="texto">
            <p>{{ product.description }}</p>
          </div>
        
        </div>
          
          <div *ngIf=paidFor class="texto">
            <p>Felicidades! Has completado la reserva!</p>
          </div>
        
          <div class="botones">
            <div [hidden]="paidFor" #paypal></div>
          </div>
  </div>
</div>

  
  
  
