.wrapper{

    width: 100vw;
    height:auto;
    margin: 0;
    padding:0;
    background-color: white;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrapper img{
    width: 100vw;
    height:90vh;

      
}

.wrapper h1{
    justify-content: center;
    text-align: center;
    position: absolute;
    font-family: "Billy-Ohio";
    font-size: 18vh;
    font-weight: 100;
    color:white;
    top: 200px;
    left: 50%;
    transform: translate(-50%,-30%);

}

.datos {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    
  }





.datos2 {
    display: grid;
    grid-template-rows:  1fr 3fr 1fr;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
  }



.datos2 .b{
    display: grid;
    grid-template-columns:  1fr  1fr;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}



// .item {
//     font-family: 'Avenir';
//     color: black;
//     font-size: 0.8em;
//     margin-top: 2em;
//     font-weight: 100;
//     border-bottom: solid 1px #666666;
//     padding-bottom: 1.2em;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
.info2 {
    display: grid;
    grid-template-rows:  1fr 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
  }
.item {
    display: grid;
    grid-template-columns:  1fr 3fr 1fr;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Avenir';
    color: black;
    font-size: 0.8em;
    font-weight: 100;
    border-bottom: solid 1px #666666;
    
  }

  .item .b{
   
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .item .b h3{
    font-family: 'Avenir';
    color: black;
    font-size: 0.9em;
    font-weight: 100;
    text-transform: uppercase;

  }
  .item .a{
    font-family: 'Avenir';
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .item .c{
    font-family: 'Avenir';
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .info1 h2{
    font-family: 'Kingsmen';
    color: #005688;
    font-size: 2.5em;


}

.info1 h3{
    font-family: 'Avenir';
    color: black;
    font-size: 2em;
    font-weight: 500;
    margin-top: 0.5em;


}

.button {
    
    background-color:#ffa600;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: "Avenir";
    font-size:0.8em;
    font-weight: 400;
    padding:3vh 5vw;
    text-decoration:none;
    text-shadow:0px 1px 0px #f5f5f5;
    margin-top: 5%;
    letter-spacing: 0.2em;

    &:hover{
        background: #005688;
        transition: 0.6s;
    }
}

.gallery{
    display: grid;
    width: 100vw;
    height:80vh;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
  }

  .gallery .img1{
      background-color: #005688;
      margin-right: 5px;
     height: 100%;

      
  }

  .gallery .img1 img{
    width: 100%;
    height:80vh;
  }



  .gallery .img2{
    margin-left: 5px;
    display: grid;
    width: 100%;
    height:100%;
    grid-template-rows:1fr 1fr;
}

 .img2 .a{
    display: grid;
    width: 100%;
    height:100%;
    grid-template-columns:1fr 1fr;
    margin-bottom: 5px;

 }

 .a .img2a{
     margin-right: 5px;
     
 }

 .a .img2b{
    margin-left: 5px;
    
}

 .img2 .a img{
width: 100%;
height:40vh;
 }

 .img2 .b img{
    width: 100%;
    height:40vh;
}     

#c2 {
background-color: white;
height:auto;
}

.comodidades{
    display: grid;
    width: auto;
    height:auto;
    grid-template-columns: 2fr 3fr 2fr;
    margin: 0;
    padding: 0;
}



.comodidades .list h2{
    font-family: 'Kingsmen';
    color: #005688;
    font-size: 2.5em;
    margin-top: 3em;
  }

  .list .margin{
    height: 5em;

    }

.list #lista{
    font-family: 'Avenir';
    color: black;
    font-size: 1.2em;
    margin-top: 1em;
    font-weight: 100;
    border-bottom: solid 1px #666666;
    padding: 0.5em;
  }

