<div class="wrapper">
        <img src="../../assets/5.png">
        <h1>{{hab.nombre}}</h1>

        <div class="datos"> 
            <div class="a">Item 1</div> 
            <div class="b">
                    <div class="datos2"> 
                            <div class="a">Item 1</div> 
                            <div class="b">
                                <div class="info1">
                                    <h2>Habitacion {{hab.nombre}}</h2>
                                    <h3>{{hab.tipoVista}}</h3>
                                    <i class="fas fa-circle">3</i>
                                </div>
                                <div class="info2">Hola</div>
                            </div>
                            <div class="c">Item 3</div>
                            
                          </div>
            </div>
            <div class="c">Item 3</div>
            
          </div>



</div>
