<div class="wrapper">
        <img src="../../assets/5.png">
        <h1>{{hab.nombre}}</h1>

        <div class="datos"> 
            <div class="a">Item 1</div> 
            <div class="b">
                    <div class="datos2"> 
                            <div class="a">Item 1</div> 
                            <div class="b">Item 2</div>
                            <div class="c">Item 3</div>
                            
                          </div>
            </div>
            <div class="c">Item 3</div>
            
          </div>



</div>
