
.wrapper{
    width: 100vw;
    height: auto;
    position: absolute; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    overflow: hidden;
 }

#paso .paso h1{
     font-family:'Billy-Ohio';
     color: white;
     font-size: 10vw;

 }
#paso .opciones h2{
    font-family:'Avenir';
    color: white;
    font-size: 20px;

}

 #paso .a{
display: flex;
justify-content: center;
width: 100vw;
position: absolute;
margin-top: 50px;
 }

#paso .paso{
     margin-top: 100px;
     display: flex;
     justify-content: center;
     position: absolute;
     width: 100vw;
 }

#paso .opciones{

     display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100vw;
    height:auto;
    position: absolute;
    justify-content: center;
    margin-top: 250px;
 }

 .opciones .instruccion{
     display: flex;
     justify-content: center;
     width: 100vw;
     align-items: center;

 }



 #paso{
    display: grid;
    grid-template-rows: 1fr 2fr 4fr;
    position: relative;
    justify-content: center;
     width: 100vw;
     height:100vh;

     
 }
#paso img{
    width: 100vw;
    height:90vh;
    position: relative;

      
}


.textbox{
justify-content: center;
display: flex;
}
.filtros1 {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  width: 40vw;

}
.filtros{
    display: flex;
    justify-content: center;
}

select{
    outline:none;
    border:solid white 2px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background-color: rgba($color: white, $alpha: 0.4);
    padding: 10px;
    line-height: 0.8;
    color:grey;
    font-size: 18px;
}

#campos{
    border:solid white 2px;
    border-radius: 5px; 
    outline:none;
    width: 150px;
    height: 50px;
    background-color: rgba($color: white, $alpha: 0.4);
    padding: 10px;
    line-height: 0.8;
    color:grey;
    font-size: 18px;
}

#date{
    border:solid white 2px;
    border-radius: 5px; 
    outline:none;
    width: 300px;
    height: 50px;
    background-color: rgba($color: white, $alpha: 0.4);
    padding: 10px;

    // line-height: 0.8;
    // color:grey;
    // font-size: 18px;
}

.row{
    justify-content: center;
    display: flex;
    align-items: center;
}

.boton{
    display: flex;
    justify-content: center;
    align-items:baseline;
   
    
}

.button {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #ffffff;
    cursor:pointer;
    color:#002e64;
    font-family: "Avenir";
    text-decoration:none;
    margin: 2rem;
    width: 150px;
    height: 50px;
    padding: 10px;
  
    &:hover{
        color:#002e64;
        background: white;
        transition: 0.6s;
    }
  }

  .datepicker {
    background-color: #fff ;
    color: #333 ;
    }



 