<div class="wrapper">

    <form>

        <div class="destinos" id="paso">

            <img src="../../assets/playa-1.png">

            <div class="a">

                <span class="fa-stack fa-2x">

                    <i class="far fa-circle fa-stack-2x" style="color: white; border: pink;"></i>
                    <i class="fa-stack-text fa-stack-1x fa-inverse" style="font-family: 'Avenir'; font-weight: 200; color: white; font-style: normal;">1</i>

                </span>

            </div>

            <div class="paso">

                <h1>Destinos</h1>

            </div>

            <div class="opciones">

                <div class="instruccion">

                    <h2>SELECCIONA LOS FILTROS</h2>

                </div>

                <div class="filtros">

                    <div class="filtros1">

                        <div class="textbox">

                            <select formControlName="destino">

                                <option value="" selected disabled>
                                    TIPO DE DESTINO
                                </option>

                                <option value="{{tipoDestino.id}}" *ngFor="let tipoDestino of tipoDestinos">
                                    {{tipoDestino.nombre}}
                                </option>

                            </select>

                        </div>

                        <div class="textbox">

                            <select formControlName="destino">

                                <option value="" selected disabled>
                                    ESTADO
                                </option>

                                <option value="{{tipoDestino.id}}" *ngFor="let tipoDestino of tipoDestinos">
                                    {{tipoDestino.nombre}}
                                </option>

                            </select>

                        </div>

                    </div>

                </div>

                <div class="instruccion">

                    <h2>SELECCIONA EL DESTINO</h2>

                </div>

                <div class="opcion">

                    <div class="textbox">
                        <select formControlName="destinoId" (change)="changeDestino($event.target.value)">
                                <option value="" selected disabled>DESTINO</option>
                            <option value="{{destino.id}}" *ngFor="let destino of destinos">
                                {{destino.nombre}}</option>
                        </select>

                    </div>

                </div>
                <!-- <div class="boton">
                    <button id="itinerario-button" class="button" (click)="pasoDestino()">PASO 2</button>
                </div> -->
            </div>


        </div>
        <div class="paso2" *ngIf="selectedDestino!==null">
        <div class="alojamiento" id="paso">
            <img src="../../assets/playa-1.png">
            <div class="a"><span class="fa-stack fa-2x">
                    <i class="far fa-circle fa-stack-2x" style="color: white; border: pink;"></i>
                    <i class="fa-stack-text fa-stack-1x fa-inverse"
                        style="font-family: 'Avenir'; font-weight: 200; color: white; font-style: normal;">2</i>
                </span>
            </div>
            <div class="paso">
                <h1>Alojamientos</h1>

            </div>
            <div class="opciones">
                <div class="instruccion">
                    <h2>SELECCIONA TU ALOJAMIENTO</h2>
                </div>
                <div class="opcion">
                    <div class="textbox">
                        <select formControlName="hotelId" (change)="changeHotel($event.target.value)">
                            <option value="{{hotel.id}}" *ngFor="let hotel of hoteles">
                                {{hotel.name}}</option>
                        </select>
                    </div>
                </div>
                <form [formGroup]="dateForm">
                        <div class="row">
                                <div class="col-xs-12 col-12 col-sm-6 col-md-4 form-group">
                                    <input id="date" class="form-control" placeholder="CheckIn/CheckOut" ngModel bsDaterangepicker [minDate]="minDate"
                                        [bsConfig]="bsConfig" formControlName="range">
                                </div>
                            </div>
                        </form>
                <div class="instruccion">
                    <h2>SELECCIONA EL NUMERO DE HABITACIONES</h2>
                </div>
                <div class="opcion">
                    <div class="textbox">
                        <input id="campos" type="number" formControlName="numHab" min="1">
                    </div>
                </div>
                <div class="boton">
                    <button id="itinerario-button" class="button" (click)="fechaReservacion()">ACEPTAR</button>
                </div>
            </div>


        </div>

        <div class="habitaciones" id="paso">
                <div class="paso">
                    <h2>Habitaciones</h2>
                </div>


        </div>

    </div>
    </form>

   






</div>





