<div class="wrapper">
                <app-toolbar-admin></app-toolbar-admin>
                <app-sidebar-admin></app-sidebar-admin>
               
           
       <div class="home">
               <div class="a"></div>
               <div class="b">
                       <div class="titulo"><h1>DASHBOARD</h1></div>
                       <div class="content">
                                <h1>Bienvenido</h1>
                                <!-- <span class="fa-stack fa-2x">
                                                <i class="fas fa-spinner fa-stack-2x" style="color: #00b6d9"></i>
                                                <i class="fa-stack-text fa-stack-1x fa-inverse" style="font-family: 'Avenir'; font-weight: 200; color: white; font-style: normal;">10 Estados</i>
                                              </span> -->
                               <div class="gra"></div>
                       </div>

               </div>
               <div class="a"></div>
       </div>  
 </div>

