<div class="wrapper">
        <app-toolbar-admin></app-toolbar-admin>
        <app-sidebar-admin></app-sidebar-admin>
        <div class="home">
                <div class="a"></div>
                <div class="b">
                        <div class="titulo">
                                <h1>DASHBOARD</h1>
                        </div>
                        <div class="content">
                                <h1>Bienvenido</h1>
                                <div class="gra"></div>
                        </div>

                </div>
                <div class="a"></div>
        </div>
</div>