<div class="wrapper" >
        <!-- <div class="close">
            <i (click)="agregarService.toggleAgregar()" style="color: #002e64; " class="fas fa-times-circle"></i>
        </div> -->
        <form [formGroup]="hotelForm" class="agregar-box" >
            <h1>MODIFICAR HOTEL</h1>
            <small>NOMBRE</small>
            <div class="textbox">
                <i id="input" class="fas fa-user-circle"></i>
                <input type="text" formControlName="name">
            </div>
            <small>IMAGEN</small>
            <div class="textbox">
                <i id="input" class="fas fa-user-circle"></i>
                <input type="text" formControlName="imagen">
            </div>
            <small>ESTRELLAS</small>
            <div class="textbox">
                <i id="input" class="fas fa-star-circle"></i>
                <input type="number" formControlName="stars" min="1" max="5">
            </div>
            <div class="direccion">
    
                <small>LONGITUD</small>
                <div class="textbox">
                    <i id="input" class="fas fa-compass"></i>
                    <input type="text" formControlName="length">
                </div>
            </div>
            <div class="direccion">
                <small>LATITUD</small>
                <div class="textbox">
                    <i id="input" class="fas fa-compass"></i>
                    <input type="text" formControlName="latitud">
                </div>
            </div>
    
            <small>DIRECCION</small>
            <div class="textbox">
                <i id="input" class="fas fa-compass"></i>
                <input type="text" formControlName="address">
            </div>
            <div class="direccion">
                <small>ESTADO</small>
                <div class="textbox">
                    <select formControlName="state" placeholder="Ingresa el Id del Estado">
                        <option *ngFor="let estado of estados" value="{{estado.id}}">{{estado.nombre}}</option>
                    </select>
                </div>
            </div>
            <div class="direccion">
                <small>CIUDAD</small>
                <div class="textbox">
                    <select formControlName="city">
                        <option value="{{ciudad.id}}" *ngFor="let ciudad of ciudades">{{ciudad.nombre}}</option>
                    </select>
                </div>
            </div>
            <small>DESTINO</small>
            <div class="textbox">
                <select formControlName="destiny">
                    <option value="{{destino.id}}" *ngFor="let destino of destinos">{{destino.nombre}}</option>
                </select>
            </div>
            <small>TIPO DESTINO</small>
            <div class="textbox">
                <select formControlName="tipoDestiny">
                    <option value="{{tipoDestino.id}}" *ngFor="let tipoDestino of tipoDestinos">{{tipoDestino.nombre}}</option>
                </select>
            </div>
            <small>SERVICIOS</small>
            <div class="textbox">
                <mat-form-field>
                    <mat-select formControlName="services" [(value)]="selected" multiple>
                        <mat-option style="font-family:'Avenir'; font-size: 1vw; color: #002e64;"
                            *ngFor="let servicio of servicios" [value]="servicio.value">{{servicio.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <small>FULL DAY</small>
            <div class="textbox4">
    
                <input type="radio" name="fullDay" formControlName="fullDay" value="true">
            </div>
            <small>IMAGENES</small>
            <div class="textbox">
                <section formArrayName="hotelPictures">
                    <div *ngFor="let hotelPicture of hotelPicturesArray.controls; let i=index" [formGroupName]="i">
                        <small class="imgTitle">IMAGEN {{i + 1}}</small>
                        <div class="input-group">
                            <input type="text" formControlName="path">
                        </div>
                        <button type="button" id="add" (click)="removeHotelPicture(i)"><i
                                class="fas fa-times-circle"></i></button>
    
    
                    </div>
                    <button type="button" id="add" (click)="addHotelPicture()"><i class="fas fa-plus-circle"></i></button>
                </section>
            </div>
            <button type="submit" class="btn" value="AGREGAR" (click)="addPost()" id="boton">MODIFICAR HOTEL</button>
        </form>
    
    
    
    </div>
