<div class="wrapper">
    <form  [formGroup]="loginForm" (ngSubmit)="login()" class="login-box">
        <h1>Login</h1>
        <div class="textbox">
                <i class="fas fa-user"></i>
            <input type="text" name="email" id="email" placeholder="Email" formControlName="email">
        </div>

        <div class="textbox">
                <i class="fas fa-lock"></i>
            <input type="password" name="password" id="password" placeholder="Password" formControlName="password">
        </div>
        <button class="btn" type="submit" >Sign in</button>
    </form>
    
</div>