<div class="wrapper">

    <form  [formGroup]="loginForm" (ngSubmit)="login()" class="login-box">

        <h1>Login</h1>

        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" id="email" name="email"  placeholder="Email" 
            formControlName="email" required >
        </div>

        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" name="password"  placeholder="Password" 
            formControlName="password" required >
        </div>

        <button type="submit" class="btn" (click)="handleLogin()">Login</button>
        <button type="submit" class="btn" (click)="handleLogout()">Logout</button>

    </form>

</div>