<section class="banner">
    <img src="assets/destinosbanner.png" alt="destinos">
    <h1>Destinos</h1>
</section>

<section class="info">
    <div></div>
    <div class="bloque">
            <h6>TRES PAISAJES, UN PAIS</h6>
            <p>Viaja a través del territorio venezolano y conoce todos los climas y paisajes diversos que la nación ofrece. Aprende sobre los ecosistemas que se hacen notar en el país y haz tu reserva ya!</p>
    </div>
    <div class="bloque">
            <h3>DATOS RÁPIDOS</h3>
            <div class="datos">
                    <div class="dot">634</div>
                    <h5>PLAYA</h5>
                    <i class="fas fa-umbrella-beach" style="color: #666666; font-size: 3vw; float:inline-end; margin-left: auto;"></i>
            </div>
            <hr>
            <div class="datos">
                    <div class="dot">23</div>
                    <h5>SELVA</h5>
                    <i class="fab fa-pagelines" style="color: #666666; font-size: 3vw; float:inline-end; margin-left: auto;"></i>
            </div>
            <hr>
            <div class="datos">
                    <div class="dot">18</div>
                    <h5>MONTAÑA</h5>
                    <i class="fas fa-mountain" style="color: #666666; font-size: 3vw; float:inline-end; margin-left: auto;"></i>
            </div>
            <hr>
    </div>
    <div></div>
</section>

<section class="fotos">
    <div class="box1">
        <img src="assets/box1.jpg" style="height: 70vw;" alt="">
    </div>
    <div class="box2">
        <img src="assets/box2.jpg" alt="">
    </div>
    <div class="box3">
        <img src="assets/box3.jpg" alt="">
    </div>
    <div class="box4">
        <img src="assets/box4.jpg" alt="">
    </div>
</section>