.wrapper {
    margin:0; 
    padding: 0;
    height: calc(100vh + 14vh + (4vh*2));
    width: 100vw;
    font-family: "Billy-Ohio";
    overflow-x:hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:50%;
    left: 50%;
    z-index: 80;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0, 0.2);

  }

  .wrapper h1{
     color: white;
     font-size: 10vw; 
     text-align: center;


  }