<div class="wrapper" [ngClass]="{'hidden': agregarService.hideAgregar }">

    <div class="close">
        <i (click)="agregarService.toggleAgregar()" style="color: #002e64; " class="fas fa-times-circle"></i>
    </div>
    <form [formGroup]="tipoDestinoForm" class="agregar-box" (ngSubmit)="addPost()">
        <h1>AGREGAR TIPO DESTINO</h1>
        <small>NOMBRE</small>
        <div class="textbox">
            <i id="input" class="fas fa-user-circle"></i>
            <input type="text" formControlName="nombre" ></div>
        <!-- <small>IMAGEN</small>
        <div class="textbox">
            <i id="input" class="fas fa-plus-circle"></i>
            <input type="text" formControlName="imagen">
        </div>
        <small>INFORMACION</small>
        <div class="textbox">
            <i id="input" class="fas fa-plus-circle"></i>
            <input type="text" formControlName="info">
        </div> -->
        <input type="submit" class="btn" value="AGREGAR" [disabled]="!tipoDestinoForm.valid" id="boton">

    </form>